<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static "dashboard/style.css" %}">
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Welcome</h2>
      <ul class="nav nav-pills nav-stacked">
        {% for app in navigation_apps %}
          {% if user.permission >= app.permission %}
            <li><a href="{{ app.url }}">{{ app.name }}</a><li>
          {% endif %}
        {% endfor %}
      </ul><br>
    </div>
    <br>

    {% block content %}
    {% endblock %}

  </div>
</div>

</body>
</html>
